{% extends "admin_panel_base.html.twig" %}

{% block content %}

	<div class="container d-flex align-items-center justify-content-center" style="height: calc(100vh - 100px)">
		<form class="needs-validation p-4 w-100" id="login-form" novalidate method="POST">
        	<h1 class="fs-2 mb-2 mt-4 mb-4">Sign in to your account</h1>

			<div class="mb-4">
                <label class="mb-2" for="username">Email / Username</label>
				<input value="vepthdevelopment@gmail.com" type="text" class="form-control" id="username" placeholder="Email / Username" required>
				<div class="invalid-feedback" id="inv-f-1">
                    This is a required field
                </div>
			</div>

			<div class="mb-4">
                <label class="mb-2" for="username">Password</label>
				<input value="Test1234Test" type="password" class="form-control" id="password" placeholder="Password" required>
				<div class="invalid-feedback" id="inv-f-2">
                    This is a required field
                </div>
			</div>

            <div class="form-check mb-4">
                <input class="form-check-input" novalidate type="checkbox" value="" id="remember-me">
                <label class="form-check-label" for="remember-me">
                    Remember me
                </label>
            </div>

			<button type="submit" id="submit-btn" name="submit" class="btn btn-primary d-block w-100 mb-2">Login</button>
            <a href="/forgot-password" class="btn btn-secondary d-block w-100 mb-4">Forgot password?</a>
            <p class="text-center">Don't have an account? <a href="/signup">Sign up</a></p>
		</form>
	</div>



{% endblock %}
