{% extends "super_base.html.twig" %}

{% block superbase_content %}

<main class="main">

    {% block content %}{% endblock %}

</main>

<script src="/assets/js/pages/panel_home.js"></script>

{% endblock %}