<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>Dashboard | Graindashboard UI Kit</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Template -->
    <link rel="stylesheet" href="/assets/graindashboard/css/graindashboard.css">


    {% block superbase_content %}{% endblock %}

<script src="/assets/graindashboard/js/graindashboard.js"></script>
<script src="/assets/graindashboard/js/graindashboard.vendor.js"></script>

</body>
</html>